{% extends 'base.html' %} 

{% block content %}
<h2> Twoj koszyk </h2>
<h3>Detailed info about disc</h3>         

<table class="table table-striped">
<thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>

	{% for entry in cart_entries %}
		<tr>
			<td>{{ entry.disc.title}}</td>
			<td>{{ entry.disc.author}}</td>
			<td>{{ entry.disc.genre}}</td>
			<td> <a href={% url 'disc-detail' entry.disc.id %} class="btn btn-primary" role="button">Show Details</a> </td>
			<td> 
			 <form action={% url 'remove-entry' entry.id %} method='delete'>{% csrf_token %}
<button class="btn btn-primary">Remove from cart</button>
</td>
</form>


		</tr>
	{% endfor %}

</tbody>
</table>
{% endblock %}
