{% extends 'base.html' %} 

{% block content %}
<h2> Twoj koszyk </h2>
<p><a href={% url 'create-order' %} class="btn btn-primary" role="button">Zloz zamowienie</a> </p>
<table class="table table-striped">
<thead>
  <tr>
    <th>Tytul</th>
    <th>Artysta</th>
    <th>Gatunek</th>
    <th>Cena</th>
    <th>Ilosc</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>

	{% for entry in cart_entries %}
		<tr>
			<td>{{ entry.disc.title}}</td>
			<td>{{ entry.disc.author}}</td>
			<td>{{ entry.disc.genre}}</td>
			<td>{{ entry.disc.price}}</td>
			<td>{{ entry.count}}</td>
			<td> <a href={% url 'disc-detail' entry.disc.id %} class="btn btn-primary" role="button">Szczegoly</a> </td>
			<td> 
			 <form action={% url 'remove-entry' entry.id %} method='delete'>{% csrf_token %}
<button class="btn btn-primary">Usun z koszyka</button>
</td>
</form>
		</tr>
	{% endfor %}

</tbody>
</table>
{% endblock %}
