{% extends 'base.html' %} 

{% block content %}
<h2> Twoj koszyk </h2>
<h3>Detailed info about disc</h3>         

<table class="table table-striped">
<thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th></th>
  </tr>
</thead>
<tbody>

	{% for disc in discs %}
		<tr>
			<td>{{ disc.title}}</td>
			<td>{{ disc.author}}</td>
			<td>{{ disc.genre}}</td>
			<td> <a href={% url 'disc-detail' disc.id %} class="btn btn-primary" role="button">Show Details</a> </td>
		</tr>
	{% endfor %}

</tbody>
</table>
{% endblock %}
