{% extends 'base.html' %} 

{% block content %}
<h2>Oferta</h2>
<p>Plyty dostepne w naszym sklepie</p>            
<table class="table table-striped">
<thead>
  <tr>
    <th>Tytul</th>
    <th>Artysta</th>
    <th>Gatunek</th>
    <th>Cena</th>
    <th>Ilosc dostepnych plyt</th>
    <th></th>
  </tr>
</thead>
<tbody>

	{% for disc in discs %}
		<tr>
			<td>{{ disc.title}}</td>
			<td>{{ disc.author}}</td>
			<td>{{ disc.genre}}</td>
			<td>{{ disc.price}}</td>
			<td>{{ disc.available_count}}</td>

			<td> <a href={% url 'disc-detail' disc.id %} class="btn btn-primary" role="button">Szczegoly</a> </td>
		</tr>
	{% endfor %}

</tbody>
</table>
{% endblock %}
