{% extends 'base.html' %} 

{% block content %}
<h2>Shoop</h2>
<p>CDs you can buy!</p>            
<table class="table table-striped">
<thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Price</th>
    <th>Discs Available</th>
    <th></th>
  </tr>
</thead>
<tbody>

	{% for disc in discs %}
		<tr>
			<td>{{ disc.title}}</td>
			<td>{{ disc.author}}</td>
			<td>{{ disc.genre}}</td>
			<td>{{ disc.price}}</td>
			<td>{{ disc.available_count}}</td>

			<td> <a href={% url 'disc-detail' disc.id %} class="btn btn-primary" role="button">Show Details</a> </td>
		</tr>
	{% endfor %}

</tbody>
</table>
{% endblock %}
